<?xml version="1.0" encoding="UTF-8"?>
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
 packages="com.morenware.dutils.logging"
	   monitorInterval="20" >

  <appenders>
  
    <Console name="STANDARD_CONSOLE" target="SYSTEM_OUT">
      <PatternLayout pattern="%d [%t] %-5p %20c{1}.%M - %m%n"/>
    </Console>
  
    <RollingFile name="FILE_APPENDER" fileName="/tmp/tvcrawler.log"
    								  filePattern="/tmp/tvcrawler.log.%i">
      <PatternLayout>
        <pattern>%highlight{%d [%t] %-5p}{DEBUG=blue, WARN=magenta} %20c{1}.%M - %m%n</pattern>
      </PatternLayout>
      <Policies>
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="5"/>
    </RollingFile>

  </appenders>

  <loggers>
	<logger name="com.morenware.dutils" level="debug" additivity="false">
		<appender-ref ref="FILE_APPENDER" />
<!--  		<appender-ref ref="EMAIL_APPENDER" /> -->
	</logger>
 
	<logger name="org.springframework" level="info" additivity="false">
		<appender-ref ref="FILE_APPENDER" />
	</logger>

	<logger name="org.springframework.security" level="info" additivity="false">
		<appender-ref ref="FILE_APPENDER" />
	</logger>
 
	<logger name="org.apache.cxf" level="info" additivity="false">
		<appender-ref ref="FILE_APPENDER" />
	</logger>

	<logger name="org.hibernate" level="info" additivity="false">
		<appender-ref ref="FILE_APPENDER" />
	</logger>

	<logger name="org.hibernate.SQL" level="info" additivity="false">
		<appender-ref ref="FILE_APPENDER" />
	</logger>

	<logger name="org.dozer" level="info" additivity="false">
		<appender-ref ref="FILE_APPENDER" />
	</logger>

	<logger name="org.apache.catalina" level="warn" additivity="false">
		<appender-ref ref="FILE_APPENDER" />
	</logger>

	<root level="info">
		<appender-ref ref="FILE_APPENDER" />
	</root>

  </loggers>
</log4j:configuration>

